// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

// Define pipeline parameters
params {
    datasets_csv         = 'test.csv'
    embedding_key_ch     = 'X_umap'
    h5ad_ch              = 's3://cellxgene-census-public-us-west-2/cell-census/2025-05-12/h5ads/0d2ee4ac-05ee-40b2-afb6-ebb584caa867.h5ad'
    label_key_ch         = 'subclass.l3'
    organism             = 'Homo sapiens'
    condition            = 'normal'
    tissue               = 'kidney'
    metric               = 'euclidean'
    outdir               = 'results'
    silhouette_score     = 'silhouette_score'
    save_annotation      = true
    save_cluster_summary = true
    save_scores          = true
    sort_by              = 'median'
    score_col            = 'silhouette_score'
}


// Enable docker
docker.enabled = true

// Enable Wave containers for efficiency
// wave.enabled   = true

// process {
//    withName: compute_silhouette_process {
//        container = 'ghcr.io/nih-nlm/scsilhouette:main'
//    }
//
//    withName: merge_report_process {
//        container = 'ghcr.io/nih-nlm/scsilhouette:main'
//    }
//
//    withName: viz_distribution_process {
//        container = 'ghcr.io/nih-nlm/scsilhouette:main'
//    }
//
//    withName: viz_dotplot_process {
//        container = 'ghcr.io/nih-nlm/scsilhouette:main'
//    }
//
//    withName: viz_summary_process {
//        container = 'ghcr.io/nih-nlm/scsilhouette:main'
//    }
//
//
//}