// Enable monitoring and logging
timeline.enabled            = true
trace.enabled               = true
dag.enabled                 = true

// Define pipeline parameters
params {
    datasets_csv         = 'kidney.csv'
    embedding_key_ch     = 'X_umap'
    h5ad_ch              = '5774ef6a-4082-48f6-a692-674637671aa5.h5ad'
    label_key_ch         = 'subclass.l3'
    organism             = 'Homo sapiens'
    condition            = 'normal'
    tissue               = 'kidney'
    metric               = 'euclidean'
    outdir               = 'results'
    silhouette_score     = 'silhouette_score'
    save_annotation      = true
    save_cluster_summary = true
    save_scores          = true
    sort_by              = 'median'
    score_col            = 'silhouette_score'
}


// Enable docker
docker {
  enabled = true
  runOptions = '--pull always'
}

 process {
    withName: compute_silhouette_process {
        container = 'ghcr.io/nih-nlm/scsilhouette:latest'
        cpus = 32
        memory = '46 GB'
    }

    withName: merge_report_process {
        container = 'ghcr.io/nih-nlm/scsilhouette:latest'
    }

    withName: viz_distribution_process {
        container = 'ghcr.io/nih-nlm/scsilhouette:latest'
        cpus = 32
        memory = '46 GB'
    }

    withName: viz_dotplot_process {
        container = 'ghcr.io/nih-nlm/scsilhouette:latest'
        cpus = 32
        memory = '46 GB'
    }

    withName: viz_summary_process {
        container = 'ghcr.io/nih-nlm/scsilhouette:latest'
        cpus = 32
        memory = '46 GB'
    }


}